<div class="card__content">
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ meetup_url }}">{{ label }}</a>
    </h2>
  {% endif %}

  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>